# 正则表达式

In [1]:
import re

In [2]:
text = "foo    bar\t baz   \tqux"

In [3]:
re.split('\s+', text)

['foo', 'bar', 'baz', 'qux']

## Pandas中的向量化字符串函数

In [5]:
import numpy as np
import pandas as pd

In [15]:
data = {'Dave':'dave@google.com', 'Steve':'steve@gmail.com',
        'Rob':'rob@gmail.com', 'Wes': np.nan}

In [16]:
data = pd.Series(data)

In [17]:
data

Dave     dave@google.com
Rob        rob@gmail.com
Steve    steve@gmail.com
Wes                  NaN
dtype: object

In [18]:
data.isnull()

Dave     False
Rob      False
Steve    False
Wes       True
dtype: bool

In [19]:
data.str.contains('gmail')

Dave     False
Rob       True
Steve     True
Wes        NaN
dtype: object

In [24]:
pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'

In [25]:
pattern

'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\\.([A-Z]{2,4})'

In [26]:
data.str.findall(pattern, flags=re.IGNORECASE)

Dave     [(dave, google, com)]
Rob        [(rob, gmail, com)]
Steve    [(steve, gmail, com)]
Wes                        NaN
dtype: object

In [28]:
matches = data.str.match(pattern, flags=re.IGNORECASE)

In [29]:
matches

Dave     True
Rob      True
Steve    True
Wes       NaN
dtype: object

In [30]:
matches.str.get(1)

Dave    NaN
Rob     NaN
Steve   NaN
Wes     NaN
dtype: float64

In [31]:
matches.str[0]

Dave    NaN
Rob     NaN
Steve   NaN
Wes     NaN
dtype: float64

In [35]:
data.str[:5]

Dave     dave@
Rob      rob@g
Steve    steve
Wes        NaN
dtype: object