In [1]:
import numpy as np
import pandas as pd

In [81]:
df = pd.read_csv('daka_relu.csv', index_col='姓名', skipfooter=2, engine='python')

In [82]:
df.shape

(147, 28)

In [83]:
df.iloc[0].nunique()

22

In [84]:
len(df.iloc[0].unique())

23

In [85]:
df.iloc[0].unique()

array(['广东省深圳市光明区凤凰街道观光路邦凯科技城11号楼底商',
       '广东省深圳市龙华区龙华街道清祥路1号宝能科技园9栋C座1楼底商N1单位',
       '广东省深圳市龙华区清湖社区清祥路1号宝能科技园南区公寓A1栋底商',
       '广东省深圳市龙华区龙华街道龙观东路保利悦都花园B区1层080,081,082,083号商铺',
       '广东省深圳市龙华区人民路锦绣江南B1栋150-151号', '广东省深圳市南山区高新南十一道26号',
       '广东省深圳市龙岗区西环路', '广东省深圳市罗湖区文景中路合正荣悦小区一层',
       '广东省深圳市福田区彩田路彩虹新都裙楼1楼05-07铺', '广东省深圳市罗湖区田贝三路32号',
       '广东省深圳市龙岗区风门路41号', '江苏省南京市栖霞区燕城大道1号(栖霞大道与燕城大道交汇处)',
       '浙江省杭州市下城区东文街86号森望地下商城B1层', '江苏省扬州市仪征市解放东路828号宝能环球汇ZB101号',
       '广东省深圳市罗湖区桃园路202号', '广东省深圳市龙华区清丽路与清祥路交叉口东南200米',
       '广东省深圳市龙岗区富康路8号宝能智创谷A栋1层118号', '江西省赣州市章贡区宝能环球汇B1层', '广东省深圳市南山区创盛路',
       '江苏省苏州市相城区望亭国际物流园海盛路425号', '江苏省镇江市京口区中山东路254号',
       '江苏省南京市鼓楼区建宁路98号金海市场1-3楼(近神策门公园)', nan], dtype=object)

In [86]:
count=df.shape[0]
sum = 0
total = []

for i in range(count):
    total.extend(df.iloc[i].unique())
    sum+=df.iloc[i].nunique()
sum

1576

In [123]:
arr = df.values
arr.resize(arr.size,1)

In [124]:
arr.shape

(4116, 1)

In [131]:
pd.DataFrame(arr).dropna()[0].drop_duplicates().count()

52

In [129]:
pd.DataFrame(arr).dropna()[0].value_counts().count()

52

In [132]:
pd.DataFrame(arr).dropna()[0].nunique()

52

In [87]:
loc = pd.DataFrame(total)

In [88]:
loc.head()

                                               0
0                    广东省深圳市光明区凤凰街道观光路邦凯科技城11号楼底商
1            广东省深圳市龙华区龙华街道清祥路1号宝能科技园9栋C座1楼底商N1单位
2               广东省深圳市龙华区清湖社区清祥路1号宝能科技园南区公寓A1栋底商
3  广东省深圳市龙华区龙华街道龙观东路保利悦都花园B区1层080,081,082,083号商铺
4                    广东省深圳市龙华区人民路锦绣江南B1栋150-151号

In [89]:
loc.shape

(1723, 1)

In [90]:
loc2 = loc.dropna()

In [91]:
loc2.shape

(1576, 1)

In [92]:
loc2[loc2.duplicated()].count()

0    1524
dtype: int64

In [93]:
# 不重复个数
loc2[-loc2.duplicated()].count()

0    52
dtype: int64

In [94]:
loc3 = loc2[0].drop_duplicates()
loc3.count()

52

In [95]:
loc_count = loc2[0].value_counts()
loc_count.count()

52

In [96]:
loc_count = loc2[0].value_counts()
df_loc_count=pd.DataFrame(loc_count)
df_loc_count.head()

                                      0
广东省深圳市龙岗区风门路41号                      96
广东省深圳市龙华区清湖社区清祥路1号宝能科技园南区公寓A1栋底商     67
广东省深圳市龙华区清丽路与清祥路交叉口东南200米            64
广东省深圳市龙华区龙华街道清祥路1号宝能科技园9栋C座1楼底商N1单位  59
江苏省南京市栖霞区燕城大道1号(栖霞大道与燕城大道交汇处)        57

In [97]:
df_loc_count.count()

0    52
dtype: int64

In [98]:
loc2[0].nunique()

52