## 数据聚合

In [1]:
import numpy as np
import pandas as pd

In [13]:
df = pd.DataFrame({'key1': ['a', 'a', 'b', 'b', 'a'],
                  'key2': ['one', 'two', 'one', 'two','one'],
                  'data1': np.random.randn(5),
                  'data2': np.random.randn(5)})
df

      data1     data2 key1 key2
0 -0.192117  0.605695    a  one
1  0.128259 -1.635100    a  two
2 -0.580146  1.597496    b  one
3  0.403622  0.020859    b  two
4  0.940852 -0.275692    a  one

In [4]:
grouped = df.groupby('key1')

In [5]:
grouped.mean()

         data1     data2
key1
a    -0.093520 -1.218947
b     0.549412 -0.192115

In [9]:
grouped.size()

key1
a    3
b    2
dtype: int64

In [6]:
grouped['data1'].quantile(0.9)

key1
a    0.398016
b    1.415265
Name: data1, dtype: float64

In [12]:
grouped.describe()

     data1                                                              \
     count      mean       std       min       25%       50%       75%
key1
a      3.0 -0.093520  0.594823 -0.505336 -0.434497 -0.363657  0.112389
b      2.0  0.549412  1.530626 -0.532904  0.008254  0.549412  1.090570

               data2                                                    \
           max count      mean       std       min       25%       50%
key1
a     0.588434   3.0 -1.218947  1.162346 -1.983775 -1.887733 -1.791691
b     1.631728   2.0 -0.192115  2.142197 -1.706877 -0.949496 -0.192115


           75%       max
key1
a    -0.836534  0.118624
b     0.565266  1.322647

### 自己的聚合函数

In [10]:
def peak_to_peak(arr):
    return arr.max() - arr.min()

In [11]:
grouped.agg(peak_to_peak)

         data1     data2
key1
a     1.093771  2.102399
b     2.164633  3.029525