## 分组平均值填充缺失值

In [1]:
import numpy as np
import pandas as pd

In [3]:
s = pd.Series(np.random.randn(6))

In [5]:
s[::2] = np.nan

In [6]:
s

0         NaN
1   -0.966669
2         NaN
3    1.294717
4         NaN
5   -0.216031
dtype: float64

In [9]:
s.fillna(s.mean())

0    0.037339
1   -0.966669
2    0.037339
3    1.294717
4    0.037339
5   -0.216031
dtype: float64

## 填充值按组来变化

In [7]:
states = ['Ohio', 'New York', 'Vermont', 'Florida', 
         'Oregon', 'Nevada', 'California', 'Idaho']

In [8]:
group_key = ['East'] * 4 + ['West'] *4

In [11]:
data = pd.Series(np.random.randn(8), index=states)
data

Ohio          0.844875
New York      0.917355
Vermont      -0.716606
Florida      -0.358046
Oregon       -0.586628
Nevada       -0.172944
California   -2.123921
Idaho        -0.759410
dtype: float64

In [15]:
data[['Vermont', 'Nevada', 'Idaho']] = np.nan
data

Ohio          0.844875
New York      0.917355
Vermont            NaN
Florida      -0.358046
Oregon       -0.586628
Nevada             NaN
California   -2.123921
Idaho              NaN
dtype: float64

In [16]:
data.groupby(group_key).mean()

East    0.468061
West   -1.355275
dtype: float64

In [17]:
fill_mean = lambda g: g.fillna(g.mean())

In [18]:
data.groupby(group_key).apply(fill_mean)

Ohio          0.844875
New York      0.917355
Vermont       0.468061
Florida      -0.358046
Oregon       -0.586628
Nevada       -1.355275
California   -2.123921
Idaho        -1.355275
dtype: float64

## 默认组填充值

In [22]:
fill_values = {'East': 0.5, 'West':-1}

In [20]:
fill_func = lambda g: g.fillna(fill_values[g.name])

In [23]:
data.groupby(group_key).apply(fill_func)

Ohio          0.844875
New York      0.917355
Vermont       0.500000
Florida      -0.358046
Oregon       -0.586628
Nevada       -1.000000
California   -2.123921
Idaho        -1.000000
dtype: float64