# 读取csv文件

In [1]:
!cat examples/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [5]:
import numpy as np
import pandas as pd

In [10]:
pd.read_csv('examples/ex1.csv')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
pd.read_table('examples/ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

## 不包含表头行

!cat example/ex2.csv

In [11]:
!cat example/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [12]:
pd.read_csv('examples/ex2.csv')

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [15]:
pd.read_csv('examples/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

## 指定列名(表头)

In [17]:
pd.read_csv('examples/ex2.csv', names=['A','B','C','D','Message'])

   A   B   C   D Message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

## 指定索引列-index

不是真实数据值！

In [18]:
names=['A','B','C','D','Message']
pd.read_csv('examples/ex2.csv', names=names, index_col='Message')

         A   B   C   D
Message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12